{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ali Bahrami</title>
    <link rel="stylesheet" href="{% static 'css/portfolio-style.css' %}" />
    <script src="https://unpkg.com/feather-icons"></script>
  </head>

  <body class="dark-theme">
    {% if user.is_authenticated %}
    <portfolio-header
      data-is-auth="true"
      data-avatar="{% if user.profile.avatar %}{{ user.profile.avatar.url }}{% endif %}"
      data-profile-url="{% url 'home:profile' %}"
    ></portfolio-header>
    {% else %}
    <portfolio-header data-is-auth="false"></portfolio-header>
    {% endif %} {%block content %} {% endblock %}
    <portfolio-footer></portfolio-footer>
    <script src="{% static 'js/header.js'%}"></script>
    <script src="{% static 'js/footer.js'%}"></script>
    <script src="{% static 'js/portfolio-script.js'%}"></script>
    <script>
      feather.replace();
    </script>
  </body>
</html>
